* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    appearance: textfield;
}

body {
    background-color: rgb(18, 18, 18);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.desativado {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.inputs-notas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputs-notas input {
    min-width: 120px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(64, 64, 64);
    color: white;
    text-align: center;
}

.inputs-notas button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(64, 64, 64);
    color: white;
    cursor: pointer;
}

#mensagem {
    -webkit-text-stroke: 0.2px rgba(255, 255, 255, 0.6);
    text-align: center;
}